<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>

		<!-- URLs -->
		<add key="BaseUrl" value="https://support.docusign.com/" />

    <!-- Web browser -->
		<add key="Browser" value="Chrome" />

		<!-- Browser wait time -->
		<add key="TimeOut" value="20" />

    <!-- Remote server setting -->
    <add key="RunTestsRemotely" value="false" />

  </appSettings>
</configuration>